@font-face {
        font-family: 'digital';
        src: url('../digital-7.ttf');
    }

html,
body {
    height: 100%;
    background-color: rgb(241, 241, 235);
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#react-root {
    height: 100%;
}

main {
    background-color: black;
    width: 340px;
    height: 385px;
    padding: 10px;
}

#display {
    background-color: white;
    width: 320px;
    height: 40px;
    font-family: digital;
}

button {
    background-color: #4d4d4d;
    color: white;
    font-family: Share Tech Mono, monospace;
    font-size: 1.4rem;
    width: 80px;
    height: 65px;
    outline: 1px solid black;
    border: none;

    :focus {
        outline: 0;
    }

    &:hover {
        outline: 1px solid white;
        color: black;
        z-index: 2;
    }
}

.jumbo {
    width: 160px;
    height: 65px;
}
